

.contactUs{
    /* background:white; */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    /* border: 2px solid black; */
    margin:auto ;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 10px;
}


.headingBlock input{
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    width: 500px;
}

.contactUs label{
    margin: 10px 50px;
    display: inline-block;
    width: 150px;
    text-align: right;
    font-family: "Space Grotesk", sans-serif;

    
    /* border: 2px solid black; */
}



.descriptionBlock textarea{
    vertical-align: top;
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    
    width: 500px; 
    resize:none;
    display: inline-block;

}

.contactUs button{
    width: 500px;
    background-image: linear-gradient(90deg, #00e7e7, #8946df);
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    
    margin-left: 250px;
    font-weight: 600;
    color: white;
}

.heading{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80px;
    /* background:rgb(122, 191, 18); */
    position: relative;
    font-family: "Space Grotesk", sans-serif;

}

.heading h2{
    position: absolute;
    bottom: 0px;
    color: white;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-size: 45px;

}


.contactInfo{
    /* margin-top: 20px; */
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    background: #282162;
    color: white;
    padding: 10px 10px;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
