.contactUs{
    align-items: center;
    margin:auto ;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 10px;
}
.headingBlock, .descriptionBlock{
    display: flex;
    flex-direction: column;
}
.headingBlock input{
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    width: 500px;
}
.contactUs label{
    display: inline-block;
    text-align: left;
    font-family: "Space Grotesk", sans-serif;
}
.descriptionBlock textarea{
    vertical-align: top;
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    width: 500px; 
    resize:none;
    display: inline-block;
}
.contactUs button{
    width: 500px;
    background-image: linear-gradient(90deg, #00e7e7, #8946df);
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    margin-left: 250px;
    font-weight: 600;
    color: white;
}
.contactInfo h2{
    font-size: 3rem;
    margin: 2rem 0;
    color: white;
}
.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    background: #282162;
    color: white;
    padding-top: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.background{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient( 40deg, rgba(26, 214, 255, 0.8), #121543 15%, rgba(137, 70, 223, 0.8) );
}
.buttonSection{
    display: flex;
    margin-bottom: 1rem;
}
.buttonSection button{
    width:max-content;
    margin: 0 10px 0 0;
}
