.navbar {
  background-color: var(--clr1);
  width: 100vw;
  height: 100px;
  color: var(--clr10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .navbar-right {
  display: flex;
  align-items: center;
}
.navbar .navbar-left {
  display: flex;
  align-items: center;
}
.navbar .navbar-left img:hover {
  background-color: var(--clr5);
}

.navbar .navbar-right button {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #00e7e7, #8946df);
  color: white;
  font-weight: 400;
}
.navbar .navbar-right button:hover {
  font-weight: 600;
  width: 120%;
  transform: scale(1.001);
}

.formbody {
  display: flex;
}

.sidebar {
  width: 20vw;
  min-height: 100vh;
  font-size: 30px;
  white-space: nowrap;
  padding: 20px 5px;
  background-color: black;
  color: var(--clr10);
  display: flex;
  flex-direction: column;
  /* animation-name: leftExit;
  animation-duration: 0.5s; */
}

.sidebar h1 {
  background-image: linear-gradient(90deg, #00e7e7, #8946df);
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

@keyframes leftEnter {
  from {
    width: 10vw;
  }
  to {
    width: 20vw;
  }
}
@keyframes leftExit {
  from {
    width: 20vw;
  }
  to {
    width: 10vw;
  }
}

/* .sidebar:hover {
  animation-name: leftEnter;
  animation-duration: 0.5s;
  width: 20vw;
} */

.sidebar-item {
  border: 1px solid var(--clr2);
  border-radius: 5px;
  padding: 5px;
  /* width: 100%; */
  height: 50px;
  font-size: 20px;
  white-space: nowrap;
  margin: 0px 10px;
}

.sidebar-item:hover {
  border: 2px solid var(--clr10);
  cursor: context-menu;
  font-size: 20px;
}

.formPage {
  /* padding: 20px; */
  background-image: linear-gradient(
    40deg,
    rgba(26, 214, 255, 0.8),
    #121543 15%,
    rgba(137, 70, 223, 0.8)
  );
  width: 100%;
}

.myform {
  background-color: var(--clr2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  border-radius: 20px;
}
.formelement {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: center;
}

.myform .formelement label {
  justify-self: end;
  color: white;
}
.myform .formelement label span {
  color: var(--clr9);
  font-size: small;
}
.myform .formelement input {
  height: 50px;
  max-width: 1000px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
  padding-left: 20px;
  align-items: center;
}
.myform .formelement input::placeholder {
  font-family: "Space Grotesk", sans-serif;
}

.myform .formelement input[type="file"]::-webkit-file-upload-button {
  display: none;
}
.myform .formelement input[type="file"] {
  font-family: "Space Grotesk", sans-serif;
  max-width: 1000px;
  display: flex;
  color: var(--clr5);
  align-items: center;
}
/* .myform .formelement input::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
} */

.myform .formelement select {
  height: 50px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px;
  padding-left: 20px;
  align-items: center;
  max-width: 1000px;
}

.myform button {
  width: 300px;
  margin: 0;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #00e7e7, #8946df);
  color: white;
  font-weight: 400;
  align-self: center;
}
.myform button:hover {
  font-weight: 600;
  transform: scale(1.1);
}

.myform h2 {
  color: var(--clr9);
  align-self: center;
}

.formpreview {
  position: fixed;
  top: 100px;
  left: 30vw;
  background-color: white;
  border: 1px solid var(--clr1);
  border-radius: 20px;
  padding: 20px;
}

.formpreview button {
  width: 100%;
}
